*
!.config
.config/*
!.config/helix/
!.config/helix/**
!*.profile
!.*_profile
!/.git*
!/*shrc
!*ME.md
# !/*profile
!*nix
!flake*
!.vscode
!.sh
!.sh/**
!.tmux.conf
!nix/
!nix/**/*
!nix/dev/
!nix/dev/*
!nix/dev/**
