*
!.config
.config/*
!.config/helix/
!.config/helix/**
!.config/aichat/
!.config/aichat/**
!*.profile
!.*_profile
!/.git*
!/*shrc
!*ME.md
# !/*profile
!*nix
!flake*
!.vscode
!.sh
!.sh/**
.sh/secret*
!.tmux.conf
!nix/
!nix/**/*
!nix/dev/
!nix/dev/*
!nix/dev/**

!.os
