[user]
	email = 1.is.universe@gmail.com
	name = PorcoRosso85
[pull]
	rebase = false
[safe]
	directory = /home/roccho
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/ubuntu/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/ubuntu/.nix-profile/bin/gh auth git-credential
