*
!*.sh
!.config
.config/**
!.config/helix/
!.config/helix/**
!.config/aichat/
!.config/aichat/**
!.config/aider/
!.config/aider/**
!.config/wezterm/
!.config/wezterm/**
!.config/shell/
!.config/shell/**
!.config/yazi/
!.config/yazi/**
!*.profile
!.*_profile
!/.git*
!/*shrc
!*ME.md
# !/*profile
!*nix
!flake*
!.vscode
!.sh
!.sh/**
!tmux.conf
!.tmux.conf.d/
!.tmux.conf.d/*
!.tmux.conf.d/**
!**.tmux.**
!nix/
!nix/**/*
!nix/dev/
!nix/dev/*
!nix/dev/**

!.os
!architect*
!watcher*
