/* sass/style.scss */
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 10px; /* ここで文字と枠の間の余白を設定 */
}

th {
    border: 1px solid black;
    padding: 10px; /* ヘッダーにも必要であれば設定 */
}
